{{define "yield"}}
<main class="container max-w-6xl mx-auto text-slate-800 h-full">
  <h1 class="text-2xl font">ferdzz.com</h1>

  <div class="grid grid-cols-2 gap-4 mt-20">
    <div>
      <h2 class="text-xl">Me</h2>
      <p class="mt-4">
        I have some thoughts on software, web development and people. My goal is
        to give the right people software that'll help them shape the future of
        education in South Africa.
      </p>
      <br />
      <p>I try to find time to write on these topics.</p>
      <br />
      <div class="flex gap-4">
        <a
          class="border rounded transition-shadow hover:shadow-sm px-4 py-2 font-light"
          href="/signup"
          >Sign In</a
        >
        <a
          class="border rounded transition-shadow hover:shadow-sm px-4 py-2 font-light"
          href="/contact"
          >Talk to Me</a
        >
        <a
          class="border rounded transition-shadow hover:shadow-sm px-4 py-2 font-light"
          href="https://twitter.com/therealferdzz"
        >
          <svg
            class="stroke-slate-800 fill-transparent stroke-1"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
            />
          </svg>
        </a>
      </div>
    </div>
    <div>
      <h2 class="text-xl">Writing</h2>
      <ul class="space-y-4 mt-4">
        {{range .Posts}}
        <li
          class="border rounded p-4 hover:cursor-pointer transition-shadow hover:shadow-sm"
        >
          <a href="/post/{{.ID}}">
            <div class="flex justify-between">
              <p class="text-lg">{{.Title}}</p>
              <p class="text-xs text-slate-600">{{.Date}}</p>
            </div>
            <p class="text-slate-600 text-sm">{{.Description}}</p>
          </a>
        </li>
        {{end}}
      </ul>
      <div class="cursor-pointer mt-4">
        <a href="writing">more...</a>
      </div>
    </div>
  </div>
</main>

{{end}}
